body::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bs-body-bg);
    will-change: transform;
    z-index: -1;
}

body > .container {
    margin-top: 20px;
    margin-bottom: 400px;
}

.col-md-9 img {
    max-width: 100%;
    display: inline-block;
    padding: 4px;
    line-height: 1.428571429;
    background-color: var(--bs-secondary-bg-subtle);
    border: 1px solid var(--bs-secondary-border-subtle);
    border-radius: 4px;
    margin: 20px auto 30px auto;
}

h2 {
    color: inherit;
    font-weight: 400;
    font-size: 3em;
    border-bottom: 1px solid #ccc;
}

h3 {
    color: inherit;
    font-weight: 300;
    font-size: 2em;
    margin-left: 0.5em;
}

h4, h5, h6 {
    color: inherit;
    font-weight: 200;
    font-size: 2em;
    margin-left: 1em;
}

h2 + p {
    font-size: 1.2em;
    text-indent: .5em;
    margin-top: -0.5em;
    margin-bottom: .3em;
    color: #666;
}

h3 + p {
    font-size: 1.2em;
    text-indent: .9em;
    margin-top: -0.5em;
    margin-bottom: .5em;
    color: #666;
}

h4 + p, h5 + p, h6 + p {
    font-size: 1.2em;
    text-indent: 1.8em;
    margin-top: -0.5em;
    margin-bottom: .5em;
    color: #666;
}

h4 ~ ul, h5 ~ ul, h6 ~ ul {
    margin-top: -0.5em;
    margin-left: 1.7em;
}

/* 
* Side bar navigation 
*/

..bs-sidebar.affix {
    position: -webkit-sticky;
    position: sticky;
    /* The nav header is 3.5rem high, plus 20px for the margin-top of the
       main container. */
    top: calc(3.5rem + 20px);
}

.bs-sidebar.card {
    padding: 0;
    max-height: 90%;
    overflow-y: auto;
}

/* Toggle (vertically flip) sidebar collapse icon */
.bs-sidebar .navbar-toggler span {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.bs-sidebar .navbar-toggler.collapsed span {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* First level of nav */
.bs-sidebar > .navbar-collapse > .nav {
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
    z-index: 1;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
.bs-sidebar .nav > li > a.active,
.bs-sidebar .nav > li > a.active:hover,
.bs-sidebar .nav > li > a.active:focus {
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

.bs-sidebar .nav .nav .nav {
    margin-left: 1em;
}

.bs-sidebar .nav > li > a {
    font-weight: bold;
}

.bs-sidebar .nav .nav > li > a {
    font-weight: normal;
}